<!DOCTYPE html>
<html>
<head>
    <title>Form for Body Metrics</title>
</head>
<body>
    <h1>Enter Body Metrics</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="Density">Density:</label>
        <input type="text" id="Density" name="Density"><br><br>

        <label for="Age">Age:</label>
        <input type="text" id="Age" name="Age"><br><br>

        <label for="Weight">Weight:</label>
        <input type="text" id="Weight" name="Weight"><br><br>

        <label for="Height">Height:</label>
        <input type="text" id="Height" name="Height"><br><br>

        <label for="Neck">Neck:</label>
        <input type="text" id="Neck" name="Neck"><br><br>

        <label for="Chest">Chest:</label>
        <input type="text" id="Chest" name="Chest"><br><br>

        <label for="Abdomen">Abdomen:</label>
        <input type="text" id="Abdomen" name="Abdomen"><br><br>

        <label for="Hip">Hip:</label>
        <input type="text" id="Hip" name="Hip"><br><br>

        <label for="Thigh">Thigh:</label>
        <input type="text" id="Thigh" name="Thigh"><br><br>

        <label for="Knee">Knee:</label>
        <input type="text" id="Knee" name="Knee"><br><br>

        <label for="Ankle">Ankle:</label>
        <input type="text" id="Ankle" name="Ankle"><br><br>

        <label for="Biceps">Biceps:</label>
        <input type="text" id="Biceps" name="Biceps"><br><br>

        <label for="Forearm">Forearm:</label>
        <input type="text" id="Forearm" name="Forearm"><br><br>

        <label for="Wrist">Wrist:</label>
        <input type="text" id="Wrist" name="Wrist"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
