{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Food </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/img/favicon.ico'%}">
        <style>
            body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    background: rgb(128 0 0 / 66%);
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 5px;
}

.container h1 {
    color: #ffffff;
}

.section {
    background-color: #ffffff;
    padding: 50px 30px;
    border: 1.5px solid #b2b2b2;
    border-radius: 0.25em;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

#my-qr-reader {
    padding: 20px !important;
    border: 1.5px solid #b2b2b2 !important;
    border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
    display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

button {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #008000ad;
    transition: 0.3s background-color;
}

button:hover {
    background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    color: #1d9bf0;
}

video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 0.25em;
}
        .sliderform{
             margin-top: 100px;
            color: white;
            }
        /* Đặt đường viền cho bảng */
        table {
            border-collapse: collapse;
            width: 100%; /* Để đảm bảo bảng lấp đầy chiều rộng của container cha */
            size: 10px;
        }

        table td, table th {
            font-size: 16px; /* Thay đổi kích thước của chữ ở đây */
            padding: 8px;
        }
        /* Đặt đường viền cho các ô (cell) */
        td {
            border: 10px solid white;
            padding: 8px;
        }

        th {
            background-color: #4f5b69;
            padding: 8px;
        }

        /* Tùy chỉnh màu nền cho hàng hover (di chuột qua) */
        tr:hover {
            background: #ddd;
        }

    </style>
        <link rel="stylesheet" href="{% static 'body/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href=".{% static 'body/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/gijgo.css' %}">
    <link rel="stylesheet" href=".{% static 'body/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'body/css/style.css' %}">
</head>
<body class="black-bg">
<div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../static/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="../../static/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                {% if request.session.is_logged_in %}
                                <ul id="navigation">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="{% url 'body' %}">Body</a></li>
                                    <li><a href="{% url 'food' %}">Food</a></li>
                                    <li><a href="{% url 'track' %}">Tracking</a></li>
                                    <li><a href="{% url 'exersice' page_number=1%}">Exersice</a></li>
                                    <li><a href="{% url 'predict_label' page_number=1 %}">Suggestion</a></li>
                                    <li><a href="{% url 'blog' %}">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'blog' %}">Blog</a></li>
                                            <li><a href="{% url 'blog_details' %}">Blog Details</a></li>
                                            <li><a href="{% url 'elements' %}">Elements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                {% else %}
                                    <ul id="navigation">
                                    <li><a href="{% url 'login' %}">Home</a></li>
                                    <li><a href="{% url 'login' %}">Body</a></li>
                                    <li><a href="{% url 'login' %}">Food</a></li>
                                    <li><a href="{% url 'login' %}">Exersice</a></li>
                                    <li><a href="{% url 'login' %}">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'login' %}">Blog</a></li>
                                            <li><a href="{% url 'login' %}">Blog Details</a></li>
                                            <li><a href="{% url 'login' %}">Elements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                        {% if request.session.is_logged_in %}
                        <div class="header-btns d-none d-lg-block f-right">
                                                        <h3 style="color: white; font-size: 30px; border: black;">Welcome</h3>

                       </div>
                            {% else %}
                            <div class="header-btns d-none d-lg-block f-right">
                           <a href="{% url 'signup' %}" class="btn">Sign up free</a>
                       </div>
                        {% endif %}
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
                 <div class="container">
    <div class="sliderform">
 <form method="post">
        {% csrf_token %}
        <label style="font-size: 30px;color: white; padding: 18px 44px;" for="barcode">Nhập Mã Vạch:</label>
        <input style="  padding: 12px 44px; font-size: 20px;" type="text" name="barcode" id="barcode">
        <input class="btn btn-outline-dark" type="submit" value="Tra Cứu">
    </form>
     <div class="container">
        <h1>Scan QR Codes</h1>
        <div class="section">
            <div id="my-qr-reader">
            </div>
        </div>
    </div>
    <script
        src="https://unpkg.com/html5-qrcode">
    </script>
    <script src="script.js"></script>

<h1 style="color: white">Tìm kiếm thức ăn</h1>
<input style="  padding: 12px 44px; font-size: 20px" type="text" id="searchInput" placeholder="Search for products...">

    <script>
        function domReady(fn) {
    if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
    ) {
        setTimeout(fn, 1000);
    } else {
        document.addEventListener("DOMContentLoaded", fn);
    }
}

domReady(function () {

    // If found you qr code
    function onScanSuccess(decodeText, decodeResult) {
        var barcodeInput = document.getElementById('barcode');
        barcodeInput.value = decodeText;
        alert("Your QR is: " + decodeText);
    }

    let htmlscanner = new Html5QrcodeScanner(
        "my-qr-reader",
        { fps: 10, qrbos: 250 }
    );
    htmlscanner.render(onScanSuccess);
});
    </script>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Barcode</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.brand }}</td>
                                 <td>
                    <!-- Tạo liên kết dựa trên barcode -->
                    <a href="{% url 'info' barcode=product.barcode %}">{{ product.barcode }}</a>
                </td>
                <td><img src="{{ product.image_url }}" alt="Hình ảnh sản phẩm" width="100"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
document.getElementById('searchInput').addEventListener('input', function() {
    const searchQuery = this.value.toLowerCase();
    const tableRows = document.querySelectorAll('table tbody tr');

    tableRows.forEach(function(row) {
        const productName = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
        if (productName.includes(searchQuery)) {
            row.style.display = 'table-row';
        } else {
            row.style.display = 'none';
        }
    });
});
</script>


<div class="pagination" style="font-size: 15px">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
                 </div>
<footer>
    <!--? Footer Start-->
    <div class="footer-area black-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-footer-caption mb-50 text-center">
                            <!-- logo -->
                            <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <a href="index.html"><img src="../../static/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <!-- Menu -->
                            <!-- Header Start -->
                            <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="main-header main-header2">
                                    <div class="menu-wrapper menu-wrapper2">
                                        <!-- Main-menu -->
                                        <div class="main-menu main-menu2 text-center">
                                            <nav>
                                                <ul>
                                                    <li><a href="{% url 'index' %}">Home</a></li>
                                                    <li><a href="{% url 'body' %}">Body</a></li>
                                                    <li><a href="{% url 'food' %}">Food</a></li>
                                                    <li><a href="{% url 'exersice' page_number=1%}">Exersice</a></li>
                                                    <li><a href="{% url 'index' %}">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>er End -->
                            <!-- social -->
                            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> TranVietAnh <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">Anh</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
<script src="{% static 'home/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'home/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'home/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'home/js/wow.min.js' %}"></script>
<script src="{% static 'home/js/animated.headline.js' %}"></script>
<script src="{% static 'home/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'home/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'home/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'home/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'home/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'home/js/waypoints.min.js' %}"></script>
<script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'home/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'home/js/contact.js' %}"></script>
<script src="{% static 'home/js/jquery.form.js' %}"></script>
<script src=".{% static 'home/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'home/js/mail-script.js' %}"></script>
<script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src=".{% static 'home/js/plugins.js' %}"></script>
<script src="{% static 'home/js/main.js' %}"></script>
</body>
</html>