<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
</head>
<body>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="../../static/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                {% if is_logged_in %}
                                <ul id="navigation">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="{% url 'body' %}">Body</a></li>
                                    <li><a href="{% url 'food' %}">Food</a></li>
                                    <li><a href="{% url 'exersice' page_number=1%}">Exersice</a></li>
                                    <li><a href="{% url 'blog' %}">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'blog' %}">Blog</a></li>
                                            <li><a href="{% url 'blog_details' %}">Blog Details</a></li>
                                            <li><a href="{% url 'elements' %}">Elements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                {% else %}
                                    <ul id="navigation">
                                    <li><a href="{% url 'login' %}">Home</a></li>
                                    <li><a href="{% url 'login' %}">Body</a></li>
                                    <li><a href="{% url 'login' %}">Food</a></li>
                                    <li><a href="{% url 'login' %}">Exersice</a></li>
                                    <li><a href="{% url 'login' %}">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'login' %}">Blog</a></li>
                                            <li><a href="{% url 'login' %}">Blog Details</a></li>
                                            <li><a href="{% url 'login' %}">Elements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                {% endif %}
                            </nav>
                        </div>
                        {% if is_logged_in %}
                        <div class="header-btns d-none d-lg-block f-right">
                            <h3>Welcome</h3>
                       </div>
                            {% else %}
                            <div class="header-btns d-none d-lg-block f-right">
                           <a href="{% url 'signup' %}" class="btn">Sign up free</a>
                       </div>
                        {% endif %}
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<h2>Tracking daily <div id="current-time"></div>
<script>
    var curDate = new Date();

    // Ngày hiện tại
    var curDay = curDate.getDate();

    // Tháng hiện tại
    var curMonth = curDate.getMonth() + 1;

    // Năm hiện tại
    var curYear = curDate.getFullYear();

    // Gán vào thẻ HTML
    document.getElementById('current-time').innerHTML = curDay + "/" + curMonth + "/" + curYear;
</script></h2>

    <table style="width:100%">
  <tr>
    <th>STT</th>
    <th>Name food</th>
    <th>Time</th>
    <th>Serving</th>
    <th>Calories</th>
  </tr>
  {% for food in foods %}
  <tr>
    <td>{{ food.stt }}</td>
    <td>{{ food.name }}</td>
    <td>{{ food.time }}</td>
    <td>{{ food.serving }}</td>
    <td>{{ food.calories }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="4">Total:</td>
    <td>{{ total_calories }}</td>
  </tr>
</table>
<footer>
    <!--? Footer Start-->
    <div class="footer-area black-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-footer-caption mb-50 text-center">
                            <!-- logo -->
                            <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <a href="index.html"><img src="../../static/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <!-- Menu -->
                            <!-- Header Start -->
                            <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="main-header main-header2">
                                    <div class="menu-wrapper menu-wrapper2">
                                        <!-- Main-menu -->
                                        <div class="main-menu main-menu2 text-center">
                                            <nav>
                                                <ul>
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="../../../templates/about.html">Body</a></li>
                                                    <li><a href="../../../templates/courses.html">Food</a></li>
                                                    <li><a href="../../../templates/pricing.html">Exersice</a></li>
                                                    <li><a href="../../../templates/contact.html">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Header End -->
                            <!-- social -->
                            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> TranVietAnh <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank">Anh</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
</body>
</html>