<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gym suport </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/login.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/loginstyle.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle">
                <div class="preloader-img pere-text">
                    <img src="../static/img/logo/loder.png" alt="">
                </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
<div class="form">
    <ul class="tab-group">
        <li class="tab active"><a href="{% url 'signup' %}">Sign Up</a></li>
        <li class="tab "><a href="{% url 'login' %}">Log In</a></li>
    </ul>
    <div class="tab-content" >
        <div id="signup" style="display: block;">
            <div class = tag-signup><h1 >Sign Up for Free</h1></div>
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="top-row">
                  <div class="field-wrap">
                    <label for="email">
                        Email<span class="req">*</span>
                    </label>
                    <input type="email" id="email" name="email" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label for="email">
                        User Name<span class="req">*</span>
                    </label>
                    <input type="text" id="username" name="username" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label for="password">
                        Set A Password<span class="req">*</span>
                    </label>
                    <input type="password" id="password" name="password" required autocomplete="off"/>
                </div>

                <button type="submit" class="button button-block">Get Started</button>

            </form>

        </div>

    </div>

</div>
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../static/js/jquery.slicknav.min.js"></script>

<script src="../static/js/main.js"></script>

</body>
</html>
