<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gym suport </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/login.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/loginstyle.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle">
                <div class="preloader-img pere-text">
                    <img src="../static/img/logo/loder.png" alt="">
                </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
<div class="form">

    <ul class="tab-group">
        <li class="tab "><a href="{% url 'signup' %}">Sign Up</a></li>
        <li class="tab active"><a href="{% url 'login' %}">Log In</a></li>
    </ul>
    <div class="tab-content" >
        <div id="login" style="display: block;">
            <h1>Welcome Back!</h1>

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="field-wrap">
                    <label for="login-email">
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="text" id="login-email" name="login-email" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label for="login-password">
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" id="login-password" name="login-password" required autocomplete="off"/>
                </div>

                <p class="forgot"><a href="#">Forgot Password?</a></p>

                <button class="button button-block">Log In</button>

            </form>

        </div>

    </div>

</div>
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../static/js/jquery.slicknav.min.js"></script>

<script src="../static/js/main.js"></script>



</body>
</html>
